.DS_Store
obj/Debug/net8.0/refint/OldPhoneProgram.dll
obj/Debug/net8.0/ref/OldPhoneProgram.dll
obj/Debug/net8.0/OldPhoneProgram.pdb
obj/Debug/net8.0/OldPhoneProgram.GlobalUsings.g.cs
obj/Debug/net8.0/OldPhoneProgram.genruntimeconfig.cache
obj/Debug/net8.0/OldPhoneProgram.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/OldPhoneProgram.dll
obj/Debug/net8.0/OldPhoneProgram.csproj.FileListAbsolute.txt
obj/Debug/net8.0/OldPhoneProgram.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/OldPhoneProgram.assets.cache
obj/Debug/net8.0/OldPhoneProgram.AssemblyInfoInputs.cache
obj/Debug/net8.0/OldPhoneProgram.AssemblyInfo.cs
obj/OldPhoneProgram.csproj.nuget.g.targets
obj/OldPhoneProgram.csproj.nuget.g.props
obj/OldPhoneProgram.csproj.nuget.dgspec.json
bin/Debug/net8.0/OldPhoneProgram.runtimeconfig.json
bin/Debug/net8.0/OldPhoneProgram.pdb
bin/Debug/net8.0/OldPhoneProgram.dll
bin/Debug/net8.0/OldPhoneProgram.deps.json
bin/Debug/net8.0/OldPhoneProgram
